<div class="nav" th:fragment="navbar">
    <div style="text-align:left;">
        <a class="logo" th:href="@{/}">SpringMall</a>
    </div>
    <div style="flex-grow: 2; text-align:center;" >
            <a href="/list">List</a>
        <span sec:authorize="isAuthenticated()">
            <a href="/write">Write</a>
            <a href="/myOrder/all">주문내역</a>
        </span>
        <span sec:authorize="isAuthenticated()">
            <a href="/order/all">총주문내역</a>
        </span>
    </div>
    <div style="text-align:right;">
        <span sec:authorize="isAuthenticated()">
            <a href="/logout">Logout</a>
            <span sec:authentication="principal.username"></span>님 환영합니다
        </span>
            <span sec:authorize="isAnonymous()">
            <a href="/register">Join</a>
            <a href="/login">Login</a>
        </span>
    </div>
</div>
